:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

form {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

  header h1 {
    font-size: 1.6rem;
  }

#login_link {
  text-align: center;
  margin-top: 10px;
}
